<body>

    <div class="bg"></div>

    <br />

        <div class="col-10 offset-1">
          <br /><br />
          <div class="booyah-box">
            <br />
            <h1 class="text-center">Countdown to The Bourbon Chase 2018</h1>
            <p class="text-center" id="demo"></p>
            <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Oct 12, 2018 7:00:00").getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();
                
                // Find the distance between now and the count down date
                var distance = countDownDate - now;
                
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
                
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
            </script>
          </div>
        </div>
        <br /><br />

    <div class="col-10 offset-1">
      <div class="row text-center">
        
        <div class="col-12 col-sm">
          <div class="booyah-box">
            <br />
            <h1>Van #1</h1>
            <br />
            <div class="booyah-box">
              <br />
              <h3>Runner 1</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 13</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 25</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 2</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 14</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 26</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 3</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 15</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 27</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 4</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 4</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 16</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 28</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 5</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 5</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 17</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 29</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 6</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 6</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 18</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 30</label>
              <br /><br />
            </div>
          </div>
        </div>

        <div class="col-12 col-sm">
          <div class="booyah-box">
            <br />
            <h1>Van #2</h1>
            <br />
            <div class="booyah-box">
              <br />
              <h3>Runner 7</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 7</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 19</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 31</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 8</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 8</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 20</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 32</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 9</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 9</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 21</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 33</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 10</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 10</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 22</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 34</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 11</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 11</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 23</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 35</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 12</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 12</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 24</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 36</label>
              <br /><br />
            </div>
          </div>
        </div>
        <br /><br />

      </div>
    </div>

</body>