<body>

    <div class="bg"></div>

    <br />
    <div class="col-10 offset-1">
      <div class="row text-center">
        
        <div class="col-12 col-sm">
          <div class="booyah-box">
            <br />
            <h1>Van #2</h1>
            <br />
            <div class="booyah-box">
              <br />
              <h3>Runner 1</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 2</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 3</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 4</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 5</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 6</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
          </div>
        </div>

        <div class="col-12 col-sm">
          <div class="booyah-box">
            <br />
            <h1>Van #2</h1>
            <br />
            <div class="booyah-box">
              <br />
              <h3>Runner 7</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 8</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 9</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 10</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 11</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Runner 12</h3>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 1</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 2</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Leg 3</label>
              <br /><br />
            </div>
          </div>
        </div>

      </div>
    </div>

</body>