<body>

    <div class="bg"></div>

    <br />

        <div class="col-10 offset-1">
          <br /><br />
          <div class="booyah-box">
            <br />
            <h1 class="text-center">Countdown to The Bourbon Chase 2018</h1>
            <h1 class="text-center" id="demo"></h1>
            <br />
            <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Oct 12, 2018 10:45:00").getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();
                
                // Find the distance between now and the count down date
                var distance = countDownDate - now;
                
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
                
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
            </script>

          </div>
        </div>
        <br /><br />

    <div class="col-10 offset-1">
      <div class="row text-center">
        
        <div class="col-12 col-sm">
          <div class="booyah-box">
            <div class="booyah-box">
              <br />
              <h1>Van #1</h1>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Carrie</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 1</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 13</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 25</div>
              </div>
              <div class="row">
                <div class="col-sm-4">7.1 Miles</div>
                <div class="col-sm-4">4.5 Miles</div>
                <div class="col-sm-4">3.4 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 8, D</div>
                <div class="col-sm-4">Rank 29, E</div>
                <div class="col-sm-4">Rank 35, E</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Open</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 2</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 14</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 26</div>
              </div>
              <div class="row">
                <div class="col-sm-4">7.4 Miles</div>
                <div class="col-sm-4">6.6 Miles</div>
                <div class="col-sm-4">7.7 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 6, M</div>
                <div class="col-sm-4">Rank 11, D</div>
                <div class="col-sm-4">Rank 4, D</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Tammy</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 3</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 15</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 27</div>
              </div>
              <div class="row">
                <div class="col-sm-4">3.6 Miles</div>
                <div class="col-sm-4">3.2 Miles</div>
                <div class="col-sm-4">5.3 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 33, E</div>
                <div class="col-sm-4">Rank 36, E</div>
                <div class="col-sm-4">Rank 19, M</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Adam</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 4</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 16</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 28</div>
              </div>
              <div class="row">
                <div class="col-sm-4">5.2 Miles</div>
                <div class="col-sm-4">6.6 Miles</div>
                <div class="col-sm-4">3.8 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 20, D</div>
                <div class="col-sm-4">Rank 10, M</div>
                <div class="col-sm-4">Rank 32, E</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Brandon</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 5</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 17</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 29</div>
              </div>
              <div class="row">
                <div class="col-sm-4">4.6 Miles</div>
                <div class="col-sm-4">5.5 Miles</div>
                <div class="col-sm-4">7.6 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 28, D</div>
                <div class="col-sm-4">Rank 17, M</div>
                <div class="col-sm-4">Rank 5, D</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Ashley</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 6</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 18</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 30</div>
              </div>
              <div class="row">
                <div class="col-sm-4">6.2 Miles</div>
                <div class="col-sm-4">6.2 Miles</div>
                <div class="col-sm-4">5 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 13, M</div>
                <div class="col-sm-4">Rank 14, M</div>
                <div class="col-sm-4">Rank 22, D</div>
              </div>
              <br />
            </div>
          </div>
        </div>

        <div class="col-12 col-sm">
          <div class="booyah-box">
            <div class="booyah-box">
              <br />
              <h1>Van #2</h1>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Steph</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 7</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 19</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 31</div>
              </div>
              <div class="row">
                <div class="col-sm-4">4.9 Miles</div>
                <div class="col-sm-4">3.5 Miles</div>
                <div class="col-sm-4">4.6 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 24, M</div>
                <div class="col-sm-4">Rank 34, E</div>
                <div class="col-sm-4">Rank 28, M</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Alex</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 8</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 20</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 32</div>
              </div>
              <div class="row">
                <div class="col-sm-4">4.8 Miles</div>
                <div class="col-sm-4">5.7 Miles</div>
                <div class="col-sm-4">8.4 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 25, D</div>
                <div class="col-sm-4">Rank 16, M</div>
                <div class="col-sm-4">Rank 3, D</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Anna</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 9</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 21</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 33</div>
              </div>
              <div class="row">
                <div class="col-sm-4">8.9 Miles</div>
                <div class="col-sm-4">5.1 Miles</div>
                <div class="col-sm-4">4.6 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 1, D</div>
                <div class="col-sm-4">Rank 21, M</div>
                <div class="col-sm-4">Rank 26, E</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Blaike</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 10</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 22</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 34</div>
              </div>
              <div class="row">
                <div class="col-sm-4">7.2 Miles</div>
                <div class="col-sm-4">5.4 Miles</div>
                <div class="col-sm-4">6.7 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 7, D</div>
                <div class="col-sm-4">Rank 18, M</div>
                <div class="col-sm-4">Rank 9, M</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Kaitlyn</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 11</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 23</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 35</div>
              </div>
              <div class="row">
                <div class="col-sm-4">6.3 Miles</div>
                <div class="col-sm-4">4.3 Miles</div>
                <div class="col-sm-4">4 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 12, M</div>
                <div class="col-sm-4">Rank 30, E</div>
                <div class="col-sm-4">Rank 31, E</div>
              </div>
              <br />
            </div>
            <div class="booyah-box">
              <br />
              <h3>Dale</h3>
              <hr />
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" value="">Leg 12</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 24</div>
                <div class="col-sm-4"><input type="checkbox" value="">Leg 36</div>
              </div>
              <div class="row">
                <div class="col-sm-4">5.8 Miles</div>
                <div class="col-sm-4">8.7 Miles</div>
                <div class="col-sm-4">4.9 Miles</div>
              </div>
              <div class="row">
                <div class="col-sm-4">Rank 15, E</div>
                <div class="col-sm-4">Rank 2, D</div>
                <div class="col-sm-4">Rank 24, E</div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <br /><br />

      </div>
    </div>

</body>