@import "bootstrap";

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background: image_url('hero3.jpg');

    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

label {
  margin-right: 30px;
}

input {
  margin-right: 10px;
}

header {
  text-align: center;
  size: 100px; 
}